# PDF handling
PyMuPDF==1.24.11
sentence-transformers==3.1.1

# NLP libraries
spacy==3.7.5
pydantic==2.9.2

# Data handling and utilities
tqdm==4.66.1
pandas==2.0.3
numpy==1.24.3

# Transformers and Hugging Face tools
huggingface_hub==0.24.7
transformers==4.44.2

# Visualization
matplotlib==3.7.2

# Interface
gradio==3.40.1

# PyTorch (CPU only!)
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Optional (remove if not using quantized models)
# accelerate==0.34.2
# bitsandbytes==0.44.1
